.masthead {
    padding: 24px 0;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 99;
	transition: 0.2s ease-in-out;

    &__inner{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		&-left {
			.ham-icon {
				cursor: pointer;
				width: 26px;
				position: relative;
				z-index: 9;
				@include breakpoint( tabletLarge ) {
					width: 40px;
				}
				span {
					margin: 6px 0;
					border-radius: 6px;
					display: block;
					width: 100%;
					background: $white;
					height: 2px;
					transition: 0.2s ease-in-out;
					&:nth-child(3) {
						margin-top: -8px;
					}
				}
			}
		}
		&-center {
			// display: none;
			text-align: center;
			max-width: 150px;
			@media ( min-width: 380px ) {
				max-width: 180px;
			}
			@media ( min-width: 410px ) {
				max-width: 200px;
			}
			@include breakpoint( tablet ) {
				display: block;
				max-width: unset;
			}
			.site-branding {
				max-width: calc(100% - 50px);
				display: inline-block;
		
				@include breakpoint(small) {
					position: relative;
					z-index: 1;
				}
		
				img,
				svg {
					max-width: 320px;
					height: auto;
					transform: scale(0.8);
					width: 100%;
				}
			}

			.custom-logo-link {
				a {
					display: inline-block;
				}
		
				svg {	
					transition: fill 0.3s;
					max-width: 320px;
					height: auto;
					transform: scale(0.8);
					width: 100%;
				}
			}
		}
		&-right{
			text-align: right;
			.pd_button{
				font-size: 10px;
				padding: 7px 15px;
				@media ( min-width: 380px ) {
					padding: 7px 15px;
					font-size: 14px;
				}
				@media ( min-width: 480px ) {
					padding: 7px 30px;
					font-size: 12px;
				}
				@include breakpoint(tablet) {
					font-size: 18px;
					padding: 7px 50px;
				}
			}
		}
		&-col {
			min-width: 15%;
			@include breakpoint( tablet ){
				width: 30%;
			}
		}

		.close-megamenu {
			display: none;
			cursor: pointer;
			vertical-align: middle;
			svg {
				width: 25px;
			}
		}
    }
	&__popup{
		height: 0px;
		height: 100vh;
		overflow: hidden;
		position: absolute;
		left: 0;
		top: 0;
		background: $black;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: height 0.3s;		
		transform: translateY(-100%);
		transition: transform .8s cubic-bezier(.25,.1,.29,.99);
		.main-navigation{
			color: $white;
			text-align: center;
			font-family: $font__primary;
			font-weight: 500;
			line-height: normal;
			text-transform: uppercase;
			font-size: 22px;
			@include breakpoint( tablet ){
				font-size: 28px;
			}
			@include breakpoint(tabletLarge){
				font-size: 40px;
			}
			@include breakpoint(xxl){
				font-size: 52px;
			}
			.menu {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				gap: 10px;
				list-style: none;
				padding: 0;
				margin: 0;
				@include breakpoint( tablet ){
					gap: 15px;
				}
				li{
					&.current_page_item {
						a {
							opacity: 1;
						}
					}
					a {
						opacity: .5;
						transition: opacity 0.3s;
						&:hover{
							opacity: 1;
						}
					}
				}
			}
		}
	}
}

body {
    &.menu-open {
        .masthead {
			&__popup{
				// height: 100vh;
				transform: translateY(0%);
			}
            .masthead__inner-left .ham-icon span {

                &:nth-child(1),
                &:nth-child(4) {
                    opacity: 0;
                }

                &:nth-child(3) {
                    transform: rotate(45deg);
                }

                &:nth-child(2) {
                    transform: rotate(-45deg);
                }
            }
        }
    }
}

.open-megamenu {
	// overflow: hidden;
	&.menu-open{		
		.masthead {
			.ham-icon {
				span {
					background: $white;
				}
			}
		}
	}
	.masthead {
		.ham-icon {
			span{
				background: $black_button;
			}
		}
		.masthead__inner-center svg path{
			fill: $black_button;
			
		}
		.pd_button_bg--transparent{
			border-color: $black_button;
			color: $black_button;

		}
		.close-megamenu {
			display: inline-block;
		}
		.open-megamenu-venue {
			display: none;
		}
	}
}